body{
  background-color: black;
  color: white;
}

#mainTitle{
  font-size: 100px;
  text-align: center;
  margin-bottom: 220px;
}

#enterButton{
  font-size: 75px;
  text-align: center;
}

#enterButton:hover{
  color: red;
}

a{
  text-decoration: inherit;
  color: inherit;
}
