/*Main Styles */

body{
  background-color: white;
  font-family:sans-serif;
  text-align: center;
}

h1{
  font-size: 77px;
}

h2{
  font-size: 32px;
}

/* Navigation Bar */
#CountrySelect{
  padding-bottom: 50px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#middleLink{
  padding-left: 25px;
  padding-right:25px;

}

.countryContainer{
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 50px;
}

.flag:hover{
  transform: scale(1.1);
  transition: 0.3s linear;
}
